.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#btn1{
    padding: 0.7rem 1rem;
    font-size: 1rem;
    font-weight: 400;
}

#hexacode{
    margin-bottom: 2rem;
    color: #fff;
}